@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.App {
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 65px;
  font-weight: lighter;
}

form,
.saved-vids-btn {
  width: 50%;
}
.saved-vids-btn:hover {
  cursor: pointer;
}
.textfield {
  width: 100%;
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-template-rows: repeat(auto-fit, minmax(250px, auto));
  margin: 24px 0px;
  /*justify-content: center;*/
}
p {
  border: 1px solid brown;
  font-weight: bold;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}
.single-vid-item {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

img {
  margin-bottom: 5px;
}
img:hover {
  cursor: pointer;
}
